*.elc
.#*
.cask
.swp
ac-comphist.dat
bookmarks
eshell/*
url/*
var/*
tramp
.mc-lists.el
.org-id-locations

/persp-confs
/projectile-bookmarks.eld
/projectile.cache
/org-clock-save.el
/elpa/
/emacs.el
/recentf
/rake.cache
/ido.last
/.bbdb
/bbdb
/request/
/org-mode-conf.el
/.last-package-update-day
/network-security.data
/vimish-fold/
/machine.el
/.lsp-session-v1
/transient
